In [15]:
import tabula
import numpy as np
import pandas as pd

# Read PDF into a list of DataFrame
dfs = tabula.read_pdf(r'C:\Users\robert\Documents\GitHub\python_code_portfolio\2023-annual-report.pdf', pages='11')

#print(dfs)
df1 =dfs[0]

df1.reset_index(drop=True)

df1.fillna(0, inplace = True)

#drop unwanted column
df1.drop('Unnamed: 0', axis=1 ,inplace=True)

# normalize for conversion to numeric data type
df1['2023'] = df1['2023'].str.replace(',', '')
df1['2022'] = df1['2022'].str.replace(',', '')
df1['2021'] = df1['2021'].str.replace(',', '')
df1['2023'] = df1['2023'].str.replace('.', '')
df1['2022'] = df1['2022'].str.replace('.', '')
df1['2021'] = df1['2021'].str.replace('.', '')
df1['2023'] = df1['2023'].str.replace('$', '')
df1['2022'] = df1['2022'].str.replace('$', '')
df1['2021'] = df1['2021'].str.replace('$', '')
df1['2023'] = df1['2023'].str.replace('%', '')
df1['2022'] = df1['2022'].str.replace('%', '')
df1['2021'] = df1['2021'].str.replace('%', '')
df1['2023'] = df1['2023'].str.replace('(', '-')
df1['2022'] = df1['2022'].str.replace('(', '-')
df1['2021'] = df1['2021'].str.replace('(', '-')
df1['2023'] = df1['2023'].str.replace(')', '')
df1['2022'] = df1['2022'].str.replace(')', '')
df1['2021'] = df1['2021'].str.replace(')', '')

# Convert the columns to a numeric type
df1['2023'] = pd.to_numeric(df1['2023'])
df1['2022'] = pd.to_numeric(df1['2022'])
df1['2021'] = pd.to_numeric(df1['2021'])

cols = ['2023','2022','2021']




df1['Sum_of_row'] = df1[cols].sum(axis=1)
df1['percent_change_23-22'] = df1['2023'] / df1['2022'] * 100
df1['percent_change_22-21'] = df1['2022'] / df1['2021'] * 100
df1.head(20)
#print(df1.columns)
#print(df1)


# Now you can treat dfs as a list of DataFrames and process them accordingly
#for df in df:
 #   print(df)

,"$ and shares outstanding in millions, except per share amounts",2023,2022,2021,Sum_of_row,percent_change_23-22,percent_change_22-21
0,SELECTED INCOME STATEMENT DATA,NaN,NaN,NaN,0.0,NaN,NaN
1,Total revenue,82597.0,74368.0,79166.0,236131.0,111.065243,93.939317
2,Noninterest expense,55562.0,57205.0,53758.0,166525.0,97.127873,106.412069
3,Pre-tax pre-provision profit2,27035.0,17163.0,25408.0,69606.0,157.519082,67.549591
4,Provision for credit losses3,5399.0,1534.0,-4155.0,2778.0,351.955671,-36.919374
5,Wells Fargo net income,19142.0,13677.0,22109.0,54928.0,139.957593,61.861685
6,Wells Fargo net income applicable to common stock,17982.0,12562.0,20818.0,51362.0,143.145996,60.342012
7,COMMON SHARE DATA,NaN,NaN,NaN,0.0,NaN,NaN
8,Diluted earnings per common share,483.0,327.0,508.0,1318.0,147.706422,64.370079
9,Dividends declared per common share,130.0,110.0,60.0,300.0,118.181818,183.333333
10,Common shares outstanding,35989.0,38338.0,38858.0,113185.0,93.872920,98.661794
11,Average common shares outstanding,36883.0,38052.0,40619.0,115554.0,96.927888,93.680297
12,Diluted average common shares outstanding,37204.0,38370.0,40962.0,116536.0,96.961168,93.672184
13,Book value per common share4,4625.0,4198.0,4326.0,13149.0,110.171510,97.041147
14,"Tangible book value per common share4, 5",3923.0,3498.0,3629.0,11050.0,112.149800,96.390190
15,SELECTED EQUITY DATA (PERIOD-END),NaN,NaN,NaN,0.0,NaN,NaN
16,Total equity,187443.0,182213.0,189889.0,559545.0,102.870267,95.957638
17,Common stockholders’ equity,166444.0,160952.0,168111.0,495507.0,103.412197,95.741504
18,Tangible common equity5,141193.0,134090.0,141034.0,416317.0,105.297188,95.076365
19,PERFORMANCE RATIOS,NaN,NaN,NaN,0.0,NaN,NaN