In [22]:
import tabula
import numpy as np
import pandas as pd

# Read PDF into a list of DataFrame
dfs = tabula.read_pdf(r'C:\Users\robert\Documents\GitHub\python_code_portfolio\2023-annual-report.pdf', pages='11')

#print(dfs)
df1 =dfs[0]

df1.reset_index(drop=True)

df1.fillna(0, inplace = True)

#drop unwanted column
df1.drop('Unnamed: 0', axis=1 ,inplace=True)

# normalize for conversion to numeric data type
df1['2023'] = df1['2023'].str.replace(',', '')
df1['2022'] = df1['2022'].str.replace(',', '')
df1['2021'] = df1['2021'].str.replace(',', '')
df1['2023'] = df1['2023'].str.replace('.', '')
df1['2022'] = df1['2022'].str.replace('.', '')
df1['2021'] = df1['2021'].str.replace('.', '')
df1['2023'] = df1['2023'].str.replace('$', '')
df1['2022'] = df1['2022'].str.replace('$', '')
df1['2021'] = df1['2021'].str.replace('$', '')
df1['2023'] = df1['2023'].str.replace('%', '')
df1['2022'] = df1['2022'].str.replace('%', '')
df1['2021'] = df1['2021'].str.replace('%', '')
df1['2023'] = df1['2023'].str.replace('(', '-')
df1['2022'] = df1['2022'].str.replace('(', '-')
df1['2021'] = df1['2021'].str.replace('(', '-')
df1['2023'] = df1['2023'].str.replace(')', '')
df1['2022'] = df1['2022'].str.replace(')', '')
df1['2021'] = df1['2021'].str.replace(')', '')

# Convert the columns to a numeric type
df1['2023'] = pd.to_numeric(df1['2023'])
df1['2022'] = pd.to_numeric(df1['2022'])
df1['2021'] = pd.to_numeric(df1['2021'])

#percent change

df1['percent_change_23-22'] = df1['2023'] / df1['2022']  - 1
df1['percent_change_22-21'] = df1['2022'] / df1['2021']  - 1 


df1.head(20)
#print(df1.columns)
#print(df1)


# Now you can treat dfs as a list of DataFrames and process them accordingly
#for df in df:
 #   print(df)

,"$ and shares outstanding in millions, except per share amounts",2023,2022,2021,percent_change_23-22,percent_change_22-21
0,SELECTED INCOME STATEMENT DATA,NaN,NaN,NaN,NaN,NaN
1,Total revenue,82597.0,74368.0,79166.0,0.110652,-0.060607
2,Noninterest expense,55562.0,57205.0,53758.0,-0.028721,0.064121
3,Pre-tax pre-provision profit2,27035.0,17163.0,25408.0,0.575191,-0.324504
4,Provision for credit losses3,5399.0,1534.0,-4155.0,2.519557,-1.369194
5,Wells Fargo net income,19142.0,13677.0,22109.0,0.399576,-0.381383
6,Wells Fargo net income applicable to common stock,17982.0,12562.0,20818.0,0.431460,-0.396580
7,COMMON SHARE DATA,NaN,NaN,NaN,NaN,NaN
8,Diluted earnings per common share,483.0,327.0,508.0,0.477064,-0.356299
9,Dividends declared per common share,130.0,110.0,60.0,0.181818,0.833333
10,Common shares outstanding,35989.0,38338.0,38858.0,-0.061271,-0.013382
11,Average common shares outstanding,36883.0,38052.0,40619.0,-0.030721,-0.063197
12,Diluted average common shares outstanding,37204.0,38370.0,40962.0,-0.030388,-0.063278
13,Book value per common share4,4625.0,4198.0,4326.0,0.101715,-0.029589
14,"Tangible book value per common share4, 5",3923.0,3498.0,3629.0,0.121498,-0.036098
15,SELECTED EQUITY DATA (PERIOD-END),NaN,NaN,NaN,NaN,NaN
16,Total equity,187443.0,182213.0,189889.0,0.028703,-0.040424
17,Common stockholders’ equity,166444.0,160952.0,168111.0,0.034122,-0.042585
18,Tangible common equity5,141193.0,134090.0,141034.0,0.052972,-0.049236
19,PERFORMANCE RATIOS,NaN,NaN,NaN,NaN,NaN